<!DOCTYPE html>
<html>
<head>
    <title>Mail System</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Minecraft Mail System</h1>
        <div class="buttons">
            <a href="/login" class="btn">Login</a>
            <a href="/register" class="btn">Register</a>
        </div>
    </div>
</body>
</html>
